* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 16px;
  color: rgb(39, 39, 39);
  max-width: 600px;
  margin: 0px auto;
}

.forecast {
  text-align: center;
}

.forecast-temperature-min {
  opacity: 0.6;
}

