.Weather {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px 0 0;

  .row {
    padding: 10px 20px;
  }

  .city-name {
    font-size: 4rem;
    line-height: 100%;
    font-weight: 600;
    text-align: right;
    padding: 0;
    margin: 0;
  }

  .temperature {
    font-weight: 600;
    font-size: 4rem;
  }
}
